body{
  background-color: hotpink;
  text-align: left;
}
h1{
  color: aqua
}
h2{
  font-family: sans-serif;
  font-style: italic;
}
h5{
  text-decoration:  underline;
  font-size: 18px;
  margin-top: 10;
  margin-bottom: 10;
}
meat{
  background-color:rgb(239, 138, 138)
}
vegetable{
  background-color: lightgreen
}
dairy{
  background-color: lightyellow
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  }

  .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  }

  .item1 {
  grid-column: 2 / span 2;
  grid-row: 1 /span 3;
    
  }

  .item2 {
  grid-column: 1;
  grid-row: 1 / span 3;
  }